<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Sewing Sample Book Productivity Check-in</li>
<li>Bring the following samples to class for review:</li>
<ul>
<li>Serged Seam Finish</li>
<li>Turned and Stitched Seam Finish</li>
<li>French Seam</li>
<li>4-cone serged seam</li>
<li>Topstitched (Dungaree) Hem Finish</li>
<li>Uneven Slipstitched Hem Finish</li>
<li>Additional Closures</li>
<li>Faux buttons/buttonholes</li>
<li>Inseam Pocket</li>
<li>Patch Pocket</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Kraft paper or Alphanumeric Pattern Paper</li>
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Pencil and Eraser</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Learn to work with a commercial sewing pattern</li>
<li>Learn how to prepare the sewing patterns and your garment fabric</li>
<li>How to read pattern annotations</li>
<li>Understanding grainlines and pattern mark-ups</li>
<li>Methods for transferring sewing patterns</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the prep work for your sewing patterns and fabric.</li>
<li>All pattern pieces should be cut, notched, tailor tacked, and ready for assembly.</li>
<li style="text-decoration-line: underline">Bring all cut and prepared pattern pieces to the next class for review.</li>
</ul>
