<p class="task__chapter">Due:</p>
<ul>
<li style="text-decoration-line: underline">Submit any desired presentation slides to Blackboard &gt; Discussion Forums at the start of our class meeting.</li>
<li>Come to class prepared to present your current costume designs.</li>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Note-taking materials of choice</li>
<li>Tape measure</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Costume Design Presentations with Q&amp;A</li>
<li>Basic and Advanced body measurements</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit the Short Script Costume Designs via Blackboard &gt; Submissions by the end of Class Five.</li>
</ul>