<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Note-taking supplies of choice</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Introduction to different types of script analysis.</li>
<li>Develop a simplified action analysis for our short script.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit the Short Script Analysis via Blackboard &gt; Submissions by the end of Unit One.</li>
<li>Begin researching costume ideas for our characters.</li>
<li>Bring your research and costume sketches to our next class meeting.</li>
</ul>