<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Sewing Sample Book Productivity Check-in</li>
<li>Bring the following samples to class for review:</li>
<ul>
<li>Serged Seam Finish</li>
<li>Turned and Stitched Seam Finish</li>
<li>French Seam</li>
<li>4-cone serged seam</li>
<li>Topstitched (Dungaree) hem</li>
<li>Slipstitched Hem Finish</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces (cut, notched, and marks transferred) to class:</li>
<ul>
<li>Faux Buttons Pattern (2 pieces)</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>3 flat buttons of any size diameter</li>
<li>8 inches of cooresponding sew-in hook and loop tape</li>
<li>Juki Industrial Bobbin</li>
<li>Juki Industrial Bobbin Case</li>
<li>DBx1 sewing needles 90/14</li>
<li>Large Flat Head Screwdriver</li>
<!---FASH Everyday Sewing Supplies--->
<li>Hand Sewing Needles</li>
<li>All-purpose thread in desired color(s)</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Ball head quilter's pins</li>
<li>Fabric Scissors</li>
<li>Paper Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Seam Ripper</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Learning how to install Velcro and faux buttons/buttonholes.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul>
<li class="task__list">Complete the Velcro placket with non-functioning buttons sample.</li>
</ul>