<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Traditional drawing supplies of choice</li>
<li>Consider bringing tracing paper or contact paper to duplicate sketches</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Choose one character from our script and develop a costume design for this
	character.</li>
<li>Using traditional drawing tools, begin to sketch this character.</li>
<li>Practice drawing different poses for your chosen character.</li>
<li>Begin developing costume ideas for your character.</li>
<li>Practice using different traditional media.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Finalize your character's costume design using traditional media.</li>
</ul>