<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Note-taking materials of choice</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Discuss what the Costumer's work pipeline consists of while working on a film (be sure to take notes during our discussion).</li>
<li>Organize your notes into a document that explains the roles, directorial questions and timeline for the wardrobe department on a feature length film.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the Costumer’s Film Pipeline and bring to the next class for review.</li>
</ul>