<p class="task__chapter">Due:</p>
<ul class="task__list">
<li style="text-decoration-line: underline;">Bring your Final Costume to class for critique.</li>
<li>Additional presentation materials may be uploaded to Blackboard &gt; Discussion Forums at the start of class.</li>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Exploring interfacings for fabrics.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li style="text-decoration-line: underline">Complete and submit the Final Costume Construction via Blackboard &gt; Submissions by the end of day.</li>
</ul>