<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Drawing supplies of choice (traditional or digital)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Continue developing costume designs for 2 more of the script's characters.</li>
<li>Practice drawing different poses for each character.</li>
<li>Practice using digital media and software.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete one costume design for a minimum of three characters based on your script analysis.</li>
<li>Each costume design must feature the front and back of the costume.</li>
<li>One of the three designs must be completed using traditional media.</li>
<li>The remaining designs may be rendered with either traditional or digital media.</li>
<li style="text-decoration-line: underline">Prepare presentation slides for presentation next class.</li>
</ul>