<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following pattern pieces to class:</li>
<ul>
<li>Hand Sewing Stitches Pattern</li>
</ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Hand Sewing Needles</li>
<li>All-purpose thread in a DARK color</li>
<li>Medium weight muslin</li>
<li>Clear ruler with 1/8 inch markings</li>
<li>Frixion brand pen(s)</li>
<li>Fabric Scissors</li>
<li>Transfer Paper</li>
<li>Serrated Transfer Wheel</li>
<li>Tape Measure</li>
<li>Thread snips/embroidery scissors (optional)</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul>
<li>Learn and practice basic hand-sewn stitches necessary for garment construction,
alteration and repair.</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Complete the following: Running stitches, backstitches, whip stitches (seam repair), ladder stitches (seam repair).</li>
</ul>